<div class="header bg-green">
    <div class="container">
        <div class="logo">
            <img src="assets/image/logo.png">
        </div>
        
        <div class="navs">
            <div class="nav-top">
                <div *ngIf="isLogged">
                    <app-nav-user-connected></app-nav-user-connected>
                </div>
                <div *ngIf="!isLogged">
                    <app-nav-user-not-connected></app-nav-user-not-connected>
                </div>   
            </div>
            <div class="nav-bottom">
                <app-primary-nav></app-primary-nav>
            </div>
        </div>
    </div>

</div>