.container{
    display: flex;
    justify-content: space-between;
}
.navs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    padding: 1rem;
    max-width: 25%;
    flex: 0 0 25%;
}
.nav-top{
    text-align: end;
}

