.header{
    display: flex;
    justify-content: space-between;
}
.navs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    padding: 1rem;
}
.nav-top{
    text-align: end;
}

