<div class="footer">
    <div class="image">
        <img src="assets/image/Logo_AP_bandeau-3 1.png" height="100px" alt="">
    </div>
    
    <div class="link">
        <div id="link">
            <p>Suivez nous sur</p>
        </div>
        <div class="social">
            <ul>
                <li><a href="https://www.instagram.com/"><img src="assets/logo/instagram.png" alt=""></a></li>
                <li><a href="https://www.facebook.com/"><img src="assets/logo/facebook.png" alt=""></a></li>
                <li><a href="https://twitter.com/"><img src="assets/logo/twitter.png" alt=""></a></li>
            </ul>
        </div>
        <div  id="link">
            <p>mentions légales</p>
        </div>
    </div>

    <div class="info">
        <p>2 Rue de Tournefeuille</p>
        <p>Toulouse, 3100</p>
        <p>contact@ecolodream.fr</p>
    </div>
    
</div>