<div class="footer bg-green">
    <div class="container">
        <div class="footer_1">
            <div class="logo">
                <img src="assets/image/logo_footer.png">
            </div>
        </div>
        
        <div class="footer_2">
            <p>Suivez nous sur</p>
            <ul>
                <li><a href="https://www.instagram.com/"><img class="social_icon" src="assets/logo/instagram.png" alt=""></a></li>
                <li><a href="https://www.facebook.com/"><img class="social_icon" src="assets/logo/facebook.png" alt=""></a></li>
                <li><a href="https://twitter.com/"><img class="social_icon" src="assets/logo/twitter.png" alt=""></a></li>
            </ul>
            <p>mentions légales</p>  
        </div>
    
        <div class="footer_3">
            <p>2 Rue de Tournefeuille </p>
            <p>Toulouse, 3100 </p>
            <p>contact@ecolodream.fr</p>
        </div>
    </div>
</div>