<div class="card">
    <div class="form-group">
        <app-input [type]="firstname.type" [name]="firstname.name" [placeholder]="firstname.placeholder"></app-input>
    </div>
    <div class="form-group">
        <app-input [type]="lastname.type" [name]="lastname.name" [placeholder]="lastname.placeholder"></app-input>
    </div>
    <div class="form-group">
        <app-input [type]="email.type" [name]="email.name" [placeholder]="email.placeholder"></app-input>
    </div>
    <div class="form-group">
        <app-input [type]="password.type" [name]="password.name" [placeholder]="password.placeholder"></app-input>
    </div>
    <div class="form-group">
        <app-input [type]="passwordConfirm.type" [name]="passwordConfirm.name" [placeholder]="passwordConfirm.placeholder"></app-input>
    </div>
</div>
