<div class="container">
    <p>
        Vous trouverez ici tous les challenges et les critiques bonnes ou mauvaises pour certaines 
        institutions ou entreprises. Pour avoir accès à toutes les fonctionnalités, gagner des points, 
        challenge journaliers, commenter et réagir avec la communauté 
        et bien plus encore je vous invite à vous connecter ou à vous inscrire.
    </p>
    
    <app-button color="green">Se connecter</app-button> <app-button color="green">S'inscrire</app-button>

    <div class="categories" *ngIf="categories && categories.length > 0">
        <div class="category" *ngFor="let category of categories">
            <app-card>
                <img  src="assets/image/405x300.png" alt="" header>
                <div content>
                    <div class="title green">{{ category.label }}</div> 
                    <div class="description">
                        {{ category.description }}
                    </div>
                </div>
                
            </app-card>
        </div>
    </div>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">

        <p style="font-size: 20px; color: white">Chargement...</p>
        
    </ngx-spinner>
</div>





