.form-line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1vw;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.form-group{
    flex: 1;
}
.form-action{
    width: 100%;
    text-align: center;
}
.form-error{
    width: 100%;
    color: red;
}
.form-input{
    padding: 1em;
    border-radius: 25px;
    width: calc(100% - 2rem);
    border: 1px solid $green;
    &:focus{
        outline: none;
    }
}