.form-line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.form-group{
    flex: 1;
}
.form-action{
    width: 100%;
    text-align: center;
}
.form-error{
    width: 100%;
    color: red;
}