<div class="container center">
    <h1>Nos motivations</h1>
    <p class="justify">Ecolodream est le fruit d’un véritable engagement écologique, il est la continuité d’un mouvement
        associatif qui naît d’une prise de conscience liée aux enjeux écologiques contemporains. Aujourd’hui
        nous sommes près de 8 milliards d’êtres humains habitants la Terre et sommes tous plus ou moins (selon
        notre richesses et situation géographique) égaux face aux résultats d’une exploitation démesurée des
        ressources de notre planète et d’un mode de vie inconscient, ignorant nos limites et celles de notre
        environnement. Les impacts de nos actions sont et seront subit par nous, Hommes, mais également par
        touts organismes vivants, des insectes aux mammifères....Réchauffement climatique, montée des eaux,
        sécheresses, manque d’eaux, migrations climatiques d’ici plusieurs années, multiplication des
        catastrophes météorologiques et naturelles, asséchements des ressources fossiles, quantité grandissante de
        déchets rejetés, pollution de la terre et de l’eau etc : cette énumération non exhaustive résulte d’un
        engrenage industriel et commercial qui débute dès les années 1850, au commencement de la révolution
        industrielle. Les nouvelles découvertes, ressources (tel que les énergies fossiles)et nouveaux modes
        d’agricultures et de consommations n’ont malheureusement pas été l’objet d’une utilisation raisonnée et
        sont aujourd’hui les causes principales des émissions de gaz à effet de serre.
        Cette abîme vers laquelle nous courons est le pourquoi de notre engagement, ainsi sans se laisser happer
        par cette environnement anxiogène et en ne négligeant pas l’impact environnemental de chacun d’entre
        nous, nous avons fait le choix de faire mouvoir au maximum la lancée dans laquelle nous sommes et de
        médiatiser l’importance de cette cause en prônant une consommation responsable et une prise de
        conscience des enjeux écologiques !</p>
    
   <h1>Nos objectifs</h1> 
<p class="justify">
    De part nos motivations, nos objectifs en deviennent évidents. Ils sont principalement liés à la
    sensibilisation, à une prise de conscience pour le plus grand nombre et à une prise au sérieux du
    problème en question. De ce fait nous souhaitons vous amener à comprendre et appréhender les enjeux
    ainsi qu’à y répondre dans l’action. Les conséquences auxquelles notre monde contemporain et futur fait

    face ne sont pas toujours compris et logiques. Ce site associatif dans lequel vous pouvez réagir, poser des
    questions et surtout trouver des réponses à vos questions à l’aide de chiffres et données concrètes, vous
    aidera donc à aller vers une vie engagée et consciente !
    Rejoignez-nous et prenez part à ce combat pour le respect de notre planète Terre et celui de tous les êtres
    vivants, humains et animaux !
</p>
   

</div>
